body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
  }

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 14px;
    margin: 20px;
    color: black;
}


a:hover{
    color: blue;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}


ul>button{
    justify-content: end;
    background: #4C6EF5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    font-size: 14px;
    margin-left: 200px;
    cursor: pointer;
}

/* Aqui estou colocando o flexbox para exibir os produtos na tela. */

main{
    display: flex;
    flex-wrap: wrap;
}

.cardPrice{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19%;
    height: 340px;
    text-align: left;
    padding: 20px;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.cardPrice:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}


img{
    align-self: center;
    width: 75%;
    height: 45%;
}

img:hover{
    transform: scale(1.1);
}

main button{
    background: #4C6EF5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; 
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
background: #728cf5;
}
